@page "/organization/{OrganizationId:int}/events/create"

@inject HttpClient Http
@inject NavigationManager Navigation

@using Artemis.Web.Shared.Events

<EditForm Model="@model" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label>Name</label>
        <InputText class="form-control" @bind-Value="model.Name" />
    </div>

    <div class="form-group">
        <label>Description</label>
        <InputTextArea class="form-control" @bind-Value="model.Description" />
    </div>

    <div class="form-group row">
        <label for="chkbox-timed-event" class="col-sm-2">Does this event have a time limit?</label>
        <div class="col-sm-10">
            <div class="form-check">
                <InputCheckbox id="chkbox-timed-event" class="form-check-input" @bind-Value="model.IsTimedEvent" />
            </div>
        </div>
    </div>

    @if (model.IsTimedEvent)
    {
        <div class="form-group">
            <label>Start Date</label>
            <InputDate class="form-control" @bind-Value="model.StartDate" />
        </div>

        <div class="form-group">
            <label>End Date</label>
            <InputDate class="form-control" @bind-Value="model.EndDate" />
        </div>
    }

    <button type="submit">Submit</button>
</EditForm>


@code {
    [Parameter]
    public int OrganizationId { get; set; }

    private CreateEvent model = new CreateEvent();

    private async Task HandleValidSubmit()
    {
        await Http.PostJsonAsync($"/api/organization/{OrganizationId}/event", model);
        Navigation.NavigateTo($"/organization/{OrganizationId}/events/");
    }
}