@page "/"
@page "/organisations/list"
@page "/organisations"

@inject HttpClient Http
@inject NavigationManager Navigation

@using Artemis.Web.Shared.Organizations

<h1>Organizations</h1>

@if (_oganizations == null)
{
    <p><em>Loading...</em></p>
}
else if (!_oganizations.Any())
{
    <p><em>We didn't seem to find anything</em></p>
}
else
{
    <div class="row">
        @foreach (var org in _oganizations)
        {
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <div class="card-title">@org.Name</div>
                        <p class="card-text">@org.Description</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="/events/@org.Id" class="btn btn-sm btn-outline-secondary">View</a>
                                

                                <a href="/organisation/@org.Id/templates" class="btn btn-sm btn-outline-secondary">Message templates</a>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}

<AuthorizeView>
    <a class="btn btn-primary" href="/organisations/create">Create</a>
</AuthorizeView>

@code {
    private Organization[] _oganizations;

    protected override async Task OnInitializedAsync()
    {
        _oganizations = await Http.GetJsonAsync<Organization[]>("api/Organization");
    }
}