@page "/organisation/{OrganizationId:int}/templates"
@page "/organization/{OrganizationId:int}/templates"
@page "/organisation/{OrganizationId:int}/templates/list"
@page "/organization/{OrganizationId:int}/templates/list"

@using Artemis.Web.Shared.Organizations
@using Artemis.Web.Shared.MessageTemplates

@inject HttpClient Http

<OrgJumbotron Organization="@_organization" DisplayCallToAction="false" />

<h3>Templates</h3>
@if (_templates == null)
{
    <p><em>Loading...</em></p>
}
else if (!_templates.Any())
{
    <p><em>We didn't seem to find anything</em></p>
}
else
{
    <div class="container">
        <div class="row">
            @foreach (var org in _templates)
            {
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                            <div class="card-title">@org.Name</div>
                            <p class="card-text">@org.Text</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}

<a class="btn btn-primary" href="/organisations/@OrganizationId/template/create">Create</a>

@code {
    [Parameter]
    public int OrganizationId { get; set; }

    private Organization _organization;
    private MessageTemplate[] _templates;

    protected override async Task OnInitializedAsync()
    {
        _organization = await Http.GetJsonAsync<Organization>($"api/organization/{OrganizationId}");
        _templates = await Http.GetJsonAsync<MessageTemplate[]>($"api/organization/{OrganizationId}/template");
    }
}
