@page "/organizations/{OrganizationId:int}/templates/list"
@page "/organizations/{OrganizationId:int}/templates"

@using Artemis.Web.Shared.Organizations
@using Microsoft.AspNetCore.Authorization
@using Artemis.Web.Shared.MessageTemplates
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject IAccessTokenProvider AuthenticationService

@attribute [Authorize]

<OrgJumbotron Organization="@_organization" DisplayCallToAction="false" />

<h3>Templates</h3>
@if (_templates == null)
{
    <p><em>Loading...</em></p>
}
else if (!_templates.Any())
{
    <p><em>We didn't seem to find anything</em></p>
}
else
{
    <div class="container">
        <div class="row">
            @foreach (var org in _templates)
            {
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                            <div class="card-title">@org.Name</div>
                            <p class="card-text">@org.Text</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}

<AuthorizeView>
    <a class="btn btn-primary" href="/organizations/@OrganizationId/template/create">Create</a>
</AuthorizeView>

@code {
    [Parameter]
    public int OrganizationId { get; set; }

    private Organization _organization;
    private MessageTemplate[] _templates;

    protected override async Task OnInitializedAsync()
    {
        var httpClient = new HttpClient {BaseAddress = new Uri(Navigation.BaseUri)};

        var tokenResult = await AuthenticationService.RequestAccessToken();
        if (tokenResult.TryGetToken(out var token))
        {
            httpClient.DefaultRequestHeaders.Add("Authorization", $"Bearer {token.Value}");
            _organization = await httpClient.GetJsonAsync<Organization>($"api/organization/{OrganizationId}");
            _templates = await httpClient.GetJsonAsync<MessageTemplate[]>($"api/organization/{OrganizationId}/template");
        }
        else
        {
            Navigation.NavigateTo("organizations");    
        }
    }
}
